In [2]:
import os
import pandas as pd

In [52]:
# Ruta del archivo
ruta = r"C:\Users\1513873\ANDES BPO S.A.S\Johan Felipe JG. Gómez Arango - SIMM\BASES\Medios Virtuales\SMS ENVIADOS EN ENERO\CONSOLIDADO SMS ENERO.xlsx"

# Leer todas las hojas
hojas = pd.read_excel(ruta, sheet_name=None)

# Concatenar todas las hojas en un solo DataFrame
df = pd.concat(hojas.values(), ignore_index=True)

In [54]:
df['TIPO DOCUMENTO'] = df['TIPO DOCUMENTO'].str.upper()

In [53]:
df = df.rename(columns={
    'DESC_DOCUMENTO':'TIPO DOCUMENTO',
    'NRO_COMPARENDO':'NRO COMPARENDO',
    'ID_USUARIO':'DOCUMENTO',
    'NOMBRES':'NOMBRE',
    'CELULAR 1':'TELEFONO',
    'SMS':'TEXTO',
    'NOMBRE':'BASE',
    'FECHA':'FECHA ENVIO',
    'RESULTADO SMS':'RESULTADO SMS'
})

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484484 entries, 0 to 1484483
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   TIPO DOCUMENTO  1351744 non-null  object
 1   NRO COMPARENDO  1445649 non-null  object
 2   DOCUMENTO       1484484 non-null  object
 3   NOMBRE          1197544 non-null  object
 4   TELEFONO        1484484 non-null  object
 5   SMS             1484484 non-null  object
 6   BASE            1484484 non-null  object
 7   FECHA           1484484 non-null  datetime64[ns]
 8   RESULTADO SMS   1460237 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 101.9+ MB

In [56]:
cuenta = df['TIPO DOCUMENTO'].value_counts()

cuenta

TIPO DOCUMENTO
CÉDULA CIUDADANÍA              900107
CEDULA CIUDADANIA              151106
CÉDULA CIUDADANÍA              127355
CÉDULA DE CIUDADANÍA           100468
CC                              34719
NIT                              8983
PASAPORTE                        6380
CEDULA DE CIUDADANIA             6348
TARJETA IDENTIDAD                3255
CÉDULA EXTRANJERIA               3141
PERMISO PROTECCIÓN TEMP.         2300
PASAPORTE                        1345
CÉDULA VENEZOLANA                1072
CÉDULA VENEZOLANA                1006
PERMISO PROTECCIÓN TEMP.          820
PERMISO PROTECCION TEMPORAL       730
PPT                               460
CÉDULA EXTRANJERIA                458
PAS                               438
CÉDULA EXTRANJERÍA                246
TARJETA IDENTIDAD                 240
CV                                206
CE                                172
TI                                136
PASAP                              73
REGISTRO CIVIL                     67
NIT                                29
CEDULA EXTRANJERIA                 22
CEDULA VENEZOLANA                  18
REGISTRO CIVIL                     13
CARNÉT DIPLOMÁTICO                 11
CEDULA ECUADOR                      6
CARNÉT DIPLOMÁTICO                  3
CARNET DIPLOMÁTICO                  3
CEDULA ECUADOR                      2
NN                                  2
C-ECUA                              2
CÉDULA ECUATORIANA                  1
SIN DOCUMENTO                       1
Name: count, dtype: int64

In [57]:
columnas = df.columns

for i in columnas:
    cuenta = df[i].astype(str).map(len).max()
    print(f'la columna: {i} tiene un londitud maxima de : {cuenta}')

la columna: TIPO DOCUMENTO tiene un londitud maxima de : 27
la columna: NRO COMPARENDO tiene un londitud maxima de : 45
la columna: DOCUMENTO tiene un londitud maxima de : 20
la columna: NOMBRE tiene un londitud maxima de : 300
la columna: TELEFONO tiene un londitud maxima de : 15
la columna: SMS  tiene un londitud maxima de : 218
la columna: BASE tiene un londitud maxima de : 206
la columna: FECHA  tiene un londitud maxima de : 10
la columna: RESULTADO SMS tiene un londitud maxima de : 22

In [6]:
import chardet

ruta_archivo = r"C:\Users\1513873\ANDES BPO S.A.S\Johan Felipe JG. Gómez Arango - SIMM\BASES\2025\ENERO\02_01_2025 - copia"
def detectar_encoding(ruta_archivo):
    with open(ruta_archivo, 'rb') as f:
        rawdata = f.read()
    return chardet.detect(rawdata)['encoding']

datos = []
for archivo in archivos:
    try:
        ruta_completa = os.path.join(carpeta, archivo)
        encoding = detectar_encoding(ruta_completa)
        with open(ruta_completa, 'r', encoding=encoding) as f:
            contenido = f.read()
            datos.append({
                'nombre_archivo': archivo,
                'contenido': contenido,
                'encoding': encoding  # Opcional: ver qué codificación detectó
            })
    except Exception as e:
        print(f"Error leyendo {archivo}: {str(e)}")

df = pd.DataFrame(datos)
df

,nombre_archivo,contenido,encoding
0,Ap pagados 31_12 al 01_01.TXT,nro_acuerdo\tfecha_ap\tid_usuario\tnombres\tap...,ISO-8859-1
1,Comparendos pagados 31_12 al 01_01.TXT,nro_comparendo\tnro_recibo\tfecha_liquida_cont...,ISO-8859-1

In [21]:
# 1. Especificar la carpeta y listar archivos
carpeta = r"C:\Users\1513873\ANDES BPO S.A.S\Johan Felipe JG. Gómez Arango - SIMM\BASES\2025\ENERO\02_01_2025 - copia"
archivos = [f for f in os.listdir(carpeta) if f.lower().endswith('.txt')]

# 2. Diccionario para almacenar los DataFrames
dfs = {}

# 3. Leer cada archivo y crear un DataFrame
for archivo in archivos:
    try:
        ruta_completa = os.path.join(carpeta, archivo)
        df = pd.read_csv(
            ruta_completa,
            sep='\t',                # Separador de tabulador
            encoding='ISO-8859-1',    # Codificación detectada
            header=0                  # Usar primera fila como encabezado
        )
        dfs[archivo] = df  # Guardar en el diccionario
        print(f"DataFrame creado para: {archivo} (Filas: {df.shape[0]}, Columnas: {df.shape[1]})")
    except Exception as e:
        print(f"Error procesando {archivo}: {str(e)}")

DataFrame creado para: Ap pagados 31_12 al 01_01.TXT (Filas: 172, Columnas: 14)
DataFrame creado para: Comparendos pagados 31_12 al 01_01.TXT (Filas: 62, Columnas: 10)

In [22]:
# Ejemplo: Obtener el DataFrame del primer archivo
nombre_primer_archivo = list(dfs.keys())[0]
df_1 = dfs[nombre_primer_archivo]

# Ver las primeras filas
df_1.head()

,nro_acuerdo,fecha_ap,id_usuario,nombres,apellidos,total_ap,consecutivo_ap,saldo_ap,valor,fecha_pago_cuota,consecutivo_cuota,cuotas_pendientes,total_cuotas,fecha_liquida
0,436981,31/10/2023 00:00:00,1128407838,YURANI ANDREA,GOMEZ LONDOÑO,6186902,406403,1062302,177050,31/10/2024 00:00:00,13,6,19,01/01/2025 13:04:01
1,436896,30/10/2023 11:56:37,1037237877,MATEO,ZAPATA ANGARITA,2427737,406293,647402,107899,31/10/2024 11:56:37,13,6,19,01/01/2025 12:05:42
2,414248,02/05/2022 00:00:00,71192551,JULIAN,FLOREZ HERNANDEZ,6533468,379162,588938,98151,04/11/2024 00:00:00,31,6,37,01/01/2025 21:16:01
3,430584,06/07/2023 12:36:52,76350862,LEONARDO,VALENCIA OTERO,1996016,398480,177437,88711,07/11/2024 12:36:51,17,2,19,01/01/2025 20:56:01
4,449229,07/06/2024 10:50:18,42050631,MARIBEL DE LOS DOLORES,CORREA,1605132,418756,642056,128410,08/11/2024 10:50:18,6,5,11,01/01/2025 13:40:01

In [23]:
# Ejemplo: Obtener el DataFrame del primer archivo
nombre_primer_archivo = list(dfs.keys())[1]
df_2 = dfs[nombre_primer_archivo]

# Ver las primeras filas
df_2.head()

,nro_comparendo,nro_recibo,fecha_liquida_contrav,compute_0004,id_usuario,nombres,apellidos,nro_resolucion,cobro_coactivo,intereses
0,D05001000000044749921,9001979448,01/01/2025 01:46:10,214735,43522070,GLORIA PATRICIA,AUBAD MARIN,NaN,NaN,0
1,D05001000000044416504,9001979451,01/01/2025 01:52:57,572628,1152206334,JULIAN,MEJIA ROYO,677590.0,NaN,4282
2,D05001000000044478798,9001979452,01/01/2025 02:25:04,429348,1007243289,JOHN JAIRO,BUILES HIDALGO,NaN,NaN,0
3,D05001000000044507424,9001979452,01/01/2025 02:25:05,429348,1007243289,JOHN JAIRO,BUILES HIDALGO,NaN,NaN,0
4,D05001000000044540205,9001979460,01/01/2025 08:15:03,214735,1037647429,DANIELA,LOPEZ RIOS,NaN,NaN,0

In [2]:
import os
import pandas as pd

# 1. Especificar la carpeta y listar archivos
carpeta = r"C:\Users\1513873\ANDES BPO S.A.S\Johan Felipe JG. Gómez Arango - SIMM\BASES\2025\ENERO\02_01_2025 - copia"
archivos = [f for f in os.listdir(carpeta) if f.lower().endswith('.txt')]

# 2. Lista para almacenar DataFrames temporales
lista_dfs = []

# 3. Leer cada archivo controlando los tipos de datos
for archivo in archivos:
    try:
        ruta_completa = os.path.join(carpeta, archivo)
        
        # Leer el archivo forzando columnas numéricas como cadenas
        df_temp = pd.read_csv(
            ruta_completa,
            sep='\t',
            encoding='ISO-8859-1',
            header=0,
            dtype=str  # Leer todo como texto inicialmente
        )
        
        # Convertir columnas numéricas a enteros (si no hay decimales)
        # Ejemplo para columnas como "nro_acuerdo" o "id_usuario"
        columnas_numericas = ['nro_acuerdo', 'id_usuario']  # <-- Ajusta con tus columnas
        for col in columnas_numericas:
            if col in df_temp.columns:
                df_temp[col] = pd.to_numeric(df_temp[col], errors='coerce').astype('Int64')
        
        df_temp['Fuente_Archivo'] = archivo
        lista_dfs.append(df_temp)
        print(f"Archivo {archivo} procesado. Filas: {len(df_temp)}")
        
    except Exception as e:
        print(f"Error en {archivo}: {str(e)}")

# 4. Concatenar y formatear salida
if lista_dfs:
    df_concatenado = pd.concat(lista_dfs, ignore_index=True)
    
    # Configurar pandas para evitar notación científica
    pd.options.display.float_format = '{:.0f}'.format  # Enteros sin decimales
    
    print("\nDataFrame concatenado:")
    display(df_concatenado.tail())
else:
    print("No hay datos para concatenar")

Archivo Ap pagados 31_12 al 01_01.TXT procesado. Filas: 172
Archivo Comparendos pagados 31_12 al 01_01.TXT procesado. Filas: 62

DataFrame concatenado:

,nro_acuerdo,fecha_ap,id_usuario,nombres,apellidos,total_ap,consecutivo_ap,saldo_ap,valor,fecha_pago_cuota,...,total_cuotas,fecha_liquida,Fuente_Archivo,nro_comparendo,nro_recibo,fecha_liquida_contrav,compute_0004,nro_resolucion,cobro_coactivo,intereses
229,<NA>,NaN,42886875,GLORIA MARIA,ZULUAGA ARBELAEZ,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044556785,9001979692,01/01/2025 20:45:22,214735,NaN,NaN,0
230,<NA>,NaN,42886875,GLORIA MARIA,ZULUAGA ARBELAEZ,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044604604,9001979692,01/01/2025 20:45:22,214735,NaN,NaN,0
231,<NA>,NaN,1001618141,SEBASTIAN,AYALA ARROYAVE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,2ACCC1856555,9001979698,01/01/2025 20:46:02,572628,202450017311,NaN,2851
232,<NA>,NaN,1038803778,JUAN FERNANDO,SANCHEZ SEPULVEDA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,05001000000044705111,9001979715,01/01/2025 21:53:38,214735,NaN,NaN,0
233,<NA>,NaN,1000756224,CRISTIAN,GONZALEZ MONTERO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044501797,9001979720,01/01/2025 22:07:39,572628,NaN,NaN,0

In [5]:
df_concatenado[173:180]

,nro_acuerdo,fecha_ap,id_usuario,nombres,apellidos,total_ap,consecutivo_ap,saldo_ap,valor,fecha_pago_cuota,...,total_cuotas,fecha_liquida,Fuente_Archivo,nro_comparendo,nro_recibo,fecha_liquida_contrav,compute_0004,nro_resolucion,cobro_coactivo,intereses
173,<NA>,NaN,1152206334,JULIAN,MEJIA ROYO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044416504,9001979451,01/01/2025 01:52:57,572628,0000677590,NaN,4282
174,<NA>,NaN,1007243289,JOHN JAIRO,BUILES HIDALGO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044478798,9001979452,01/01/2025 02:25:04,429348,NaN,NaN,0
175,<NA>,NaN,1007243289,JOHN JAIRO,BUILES HIDALGO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044507424,9001979452,01/01/2025 02:25:05,429348,NaN,NaN,0
176,<NA>,NaN,1037647429,DANIELA,LOPEZ RIOS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044540205,9001979460,01/01/2025 08:15:03,214735,NaN,NaN,0
177,<NA>,NaN,1037647429,DANIELA,LOPEZ RIOS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044494900,9001979460,01/01/2025 08:15:04,214735,NaN,NaN,0
178,<NA>,NaN,1037647429,DANIELA,LOPEZ RIOS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,D05001000000044520674,9001979460,01/01/2025 08:15:04,214735,NaN,NaN,0
179,<NA>,NaN,1234990930,GABRIEL ALEXANDER,HENAO GARCIA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Comparendos pagados 31_12 al 01_01.TXT,05001000000032455466,9001979466,01/01/2025 08:34:02,468589,0021216884,S,120891

In [ ]:
import os
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.0f}'.format
carpeta = r"C:\Users\1513873\ANDES BPO S.A.S\Johan Felipe JG. Gómez Arango - SIMM\BASES\2025\ENERO\02_01_2025 - copia"
archivos = [f for f in os.listdir(carpeta) if f.lower().endswith('.txt')]

def procesar_archivo(ruta: str, archivo: str) -> pd.DataFrame:
    # Leer archivo manteniendo todo como texto
    df = pd.read_csv(ruta, sep='\t', encoding='ISO-8859-1', header=0, dtype=str)
    
    if archivo.startswith('Ap pagados'):
        # =============================================
        # Transformaciones para archivo AP PAGADOS
        # =============================================
        columnas_requeridas = [
            'nro_acuerdo', 'id_usuario', 'nombres', 
            'apellidos', 'valor', 'fecha_liquida', 'consecutivo_cuota'
        ]
        
        # Verificar columnas existentes
        columnas_disponibles = [col for col in columnas_requeridas if col in df.columns]
        df = df[columnas_disponibles]
        
        # Renombrar columna
        df = df.rename(columns={'fecha_liquida': 'fecha_pago'})
        
        # Crear nombre_usuario
        df['nombre_usuario'] = df['nombres'].str.cat(df['apellidos'], sep=' ', na_rep='').str.strip()
        
        # Eliminar columnas originales
        df = df.drop(columns=['nombres', 'apellidos'])
        
        # Forzar tipo texto para valores numéricos grandes
        df['nro_acuerdo'] = df['nro_acuerdo'].astype(str)
        df['id_usuario'] = df['id_usuario'].astype(str)
        
    elif archivo.startswith('Comparendos pagados'):
        # =============================================
        # Transformaciones para archivo COMPARENDOS
        # =============================================
        columnas_requeridas = [
            'nro_comparendo', 'nro_recibo', 'fecha_liquida_contrav',
            'compute_0004', 'id_usuario', 'nombres', 'apellidos',
            'nro_resolucion', 'intereses'
        ]
        
        # Verificar columnas existentes
        columnas_disponibles = [col for col in columnas_requeridas if col in df.columns]
        df = df[columnas_disponibles]
        
        # Renombrar columna
        df = df.rename(columns={'fecha_liquida_contrav': 'fecha_pago'})
        
        # Llenar nro_comparendo con nro_resolucion si está vacío
        df['nro_comparendo'] = np.where(
            df['nro_comparendo'].isnull() | (df['nro_comparendo'] == ''),
            df['nro_resolucion'],
            df['nro_comparendo']
        )
        
        # Crear nombre_usuario
        df['nombre_usuario'] = df['nombres'].str.cat(df['apellidos'], sep=' ', na_rep='').str.strip()
        
        # Eliminar columnas originales
        df = df.drop(columns=['nombres', 'apellidos'])
        
        # Crear columna valor (compute_0004 + intereses)
        try:
            # Convertir a numérico
            df['compute_0004'] = pd.to_numeric(df['compute_0004'], errors='coerce')
            df['intereses'] = pd.to_numeric(df['intereses'], errors='coerce')
            
            # Calcular suma
            df['valor'] = (df['compute_0004'] + df['intereses']).astype(str)
            
            # Mantener como texto sin notación científica
            df['valor'] = df['valor'].apply(lambda x: x.split('.')[0] if '.' in x else x)
            
        except Exception as e:
            print(f"Error en cálculos: {str(e)}")
            df['valor'] = ''
        
        # Forzar tipo texto para valores numéricos grandes
        cols_numericas = ['nro_comparendo', 'nro_recibo', 'nro_resolucion']
        for col in cols_numericas:
            df[col] = df[col].astype(str)
    
    # Columnas comunes para todos los archivos
    df['archivo_origen'] = archivo
    
    return df

# Procesamiento
dataframes = []
for archivo in archivos:
    try:
        ruta_completa = os.path.join(carpeta, archivo)
        df_procesado = procesar_archivo(ruta_completa, archivo)
        dataframes.append(df_procesado)
        print(f"✅ {archivo}: Procesado correctamente ({len(df_procesado)} registros)")
    except Exception as e:
        print(f"❌ Error procesando {archivo}: {str(e)}")

# Concatenación final
if dataframes:
    df_final = pd.concat(dataframes, ignore_index=True)
    
    # Reordenar columnas
    column_order = [
        'nro_acuerdo', 'nro_comparendo', 'id_usuario', 'nombre_usuario',
        'valor', 'fecha_pago', 'archivo_origen'
    ]
    
    # Seleccionar solo las columnas existentes
    final_cols = [col for col in column_order if col in df_final.columns]
    df_final = df_final[final_cols]
    
    print("\n═ DATA FINAL ═══════════════════════════════════════")
    print(f"Total de registros: {len(df_final):,}")
    print(f"Columnas: {', '.join(df_final.columns)}")
    print("\nMuestra de datos:")
    display(df_final.head())
else:
    print("No se encontraron archivos válidos para procesar")

✅ Ap pagados 31_12 al 01_01.TXT: Procesado correctamente (172 registros)
✅ Comparendos pagados 31_12 al 01_01.TXT: Procesado correctamente (62 registros)

═ DATA FINAL ═══════════════════════════════════════
Total de registros: 234
Columnas: nro_acuerdo, nro_comparendo, id_usuario, nombre_usuario, valor, fecha_pago, archivo_origen

Muestra de datos:

,nro_acuerdo,nro_comparendo,id_usuario,nombre_usuario,valor,fecha_pago,archivo_origen
0,436981,NaN,1128407838,YURANI ANDREA GOMEZ LONDOÑO,177050,01/01/2025 13:04:01,Ap pagados 31_12 al 01_01.TXT
1,436896,NaN,1037237877,MATEO ZAPATA ANGARITA,107899,01/01/2025 12:05:42,Ap pagados 31_12 al 01_01.TXT
2,414248,NaN,71192551,JULIAN FLOREZ HERNANDEZ,98151,01/01/2025 21:16:01,Ap pagados 31_12 al 01_01.TXT
3,430584,NaN,76350862,LEONARDO VALENCIA OTERO,88711,01/01/2025 20:56:01,Ap pagados 31_12 al 01_01.TXT
4,449229,NaN,42050631,MARIBEL DE LOS DOLORES CORREA,128410,01/01/2025 13:40:01,Ap pagados 31_12 al 01_01.TXT

In [8]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nro_acuerdo     172 non-null    object
 1   nro_comparendo  62 non-null     object
 2   id_usuario      234 non-null    object
 3   nombres         234 non-null    object
 4   apellidos       233 non-null    object
 5   valor           234 non-null    object
 6   fecha_pago      234 non-null    object
 7   archivo_origen  234 non-null    object
dtypes: object(8)
memory usage: 14.8+ KB